<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <ion-card class="welcome-card">
    <ion-img src="/assets/bg2.jpg"></ion-img>
    <ion-card-header text-center>
      <ion-card-subtitle color="light">Bienvenue sur </ion-card-subtitle>
      <ion-card-title color="light">Uspace</ion-card-title>
    </ion-card-header>
    <ion-card-content text-center>
      <p color="light">Créez votre espace et publier vos cartes sur Uspace </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full"  (click)="login()">Connexion</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="fancy-button" expand="full"  (click)="register()">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
