<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">Fermer</ion-button>
    <ion-title>Je crée mon compte Uspace</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">Pseudo</ion-label>
      <ion-input ngModel name="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" class="fancy-button" >Inscription</ion-button>
  </form>
  <p text-center>Déjà un compte ?</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">Connexion</ion-button>
</ion-content>