<ion-header >
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Fermer</ion-button>
    <ion-title>Connexion à mon compte Uspace</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>

    <!--<p text-right>Mot de passe perdu ?</p>-->

    <ion-button type="submit" expand="full" color="primary">Connexion</ion-button>
  </form>
  <p text-center>Pas encore de compte ?</p>
  <ion-button expand="full" class="fancy-button" (click)="registerModal()">Inscription</ion-button>
</ion-content>