<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenue sur Uspace {{user.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/bg2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Uspace</ion-card-subtitle>
        <ion-card-title>Bienvenu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="user != undefined">
          Welcome {{ user["name"]  }} {{user.email}} {{user.id}}
        </div>
        <p>Lorem ipsum </p>
      </ion-card-content>
    </ion-card>

</ion-content>
